<app-header></app-header>
<label class='error-message'>{{ errMessage }}</label>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Take a note
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
            <input matInput placeholder="title" [(ngModel)]="note.title" name="title">
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="text" [(ngModel)]="note.text" name="text"></textarea>
        </mat-form-field>
        <button (click)="addNote()" mat-raised-button color="primary">Done</button>
    </mat-expansion-panel>
</mat-accordion>
hello
<mat-card class="mat-card">
    <div *ngFor="let note of notes" >
        <mat-card-header>
            <mat-card-title>{{note.title}}</mat-card-title>
            <mat-card-content>{{note.text}}</mat-card-content>
        </mat-card-header>
    </div>
</mat-card>
